// sidebar.component.scss
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .mat-mdc-list-item {
    &.mdc-list-item--selected {
      @apply bg-blue-50 text-blue-600;
      
      .mat-icon {
        @apply text-blue-600;
      }
    }
  }
  
  .sidebar-footer {
    transition: all 0.3s ease;
    
    button {
      @apply transition-all duration-300;
    }
  }