<div class="p-4">
  <div class="flex justify-between items-center mb-4">
    <mat-form-field appearance="outline" class="w-full max-w-md">
      <mat-label>Buscar por código o DNI asignado</mat-label>
      <input matInput [(ngModel)]="searchText" (ngModelChange)="filterTablets($event)" />
    </mat-form-field>
    <button mat-flat-button color="primary" class="ml-4" (click)="openCreateDialog()">
      Nueva Tablet
    </button>
  </div>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <table mat-table [dataSource]="filteredTablets" class="mat-elevation-z8 w-full">
    <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let tablet; let i = index">{{ i + 1 }}</td>
  </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let tablet">{{ tablet.code }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let tablet">{{ tablet.status }}</td>
    </ng-container>

    <ng-container matColumnDef="assignedTo">
      <th mat-header-cell *matHeaderCellDef>Asignado a</th>
      <td mat-cell *matCellDef="let tablet">
        {{ tablet.assignedTo ? tablet.assignedTo.firstName + ' ' + tablet.assignedTo.lastName + ' (' + tablet.assignedTo.dni + ')' : 'Libre' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let tablet">
        <button mat-icon-button color="primary" (click)="openEditDialog(tablet)" aria-label="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="confirmDelete(tablet._id!)" aria-label="Eliminar">
          <mat-icon>delete</mat-icon>
        </button>

        <button
          *ngIf="tablet.status === 'free'"
          mat-icon-button
          color="accent"
          (click)="assignTablet(tablet)"
          title="Asignar tablet"
          aria-label="Asignar"
        >
          <mat-icon>assignment_ind</mat-icon>
        </button>

        <button
          *ngIf="tablet.status === 'in_use'"
          mat-icon-button
          color="warn"
          (click)="unassignTablet(tablet)"
          title="Desasignar tablet"
          aria-label="Desasignar"
        >
          <mat-icon>block</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['index', 'code', 'status', 'assignedTo', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['index', 'code', 'status', 'assignedTo', 'actions']"></tr>
  </table>
</div>
